.themeSwitcher {
  width: 3rem;
  height: 100%;
  padding: 0 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  transition: color 0s;


  &__moon, &__sun {
    position: absolute;
    top: 0;
    left: 50%;
    bottom: 0;
    transform: translateX(-50%);
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: opacity 0.2s;
  }

  &__moon {
    width: 50%;
    opacity: 0;
  }

  &__sun {
    width: 60%;
    opacity: 1;
  }

  &__animation1 {
    opacity: 1;
    animation: opacityAnimation 3s linear infinite;
  }

  &__animation2 {
    opacity: 1;
    animation: opacityAnimation2 3s linear infinite;
  }

  &__animation3 {
    opacity: 1;
    animation: opacityAnimation3 3s linear infinite;
  }
}

body:global(.dark) .themeSwitcher {
  &__moon {
    opacity: 1;
  }

  &__sun {
    opacity: 0;
  }
}

@keyframes opacityAnimation {
  0% {
    opacity: 1;
  }

  5% {
    opacity: 1;
  }

  10% {
    opacity: 0.3;
  }

  15% {
    opacity: 1;
  }

  100% {
    opacity: 1;
  }
}

@keyframes opacityAnimation2 {
  0% {
    opacity: 1;
  }

  30% {
    opacity: 1;
  }

  35% {
    opacity: 0.3;
  }

  45% {
    opacity: 1;
  }

  100% {
    opacity: 1;
  }
}

@keyframes opacityAnimation3 {
  0% {
    opacity: 1;
  }

  50% {
    opacity: 1;
  }

  55% {
    opacity: 0.3;
  }

  65% {
    opacity: 1;
  }

  100% {
    opacity: 1;
  }
}
