.languageChanger {
  $parent: &;

  width: 3rem;
  height: 100%;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;

  &__button {
    font-size: inherit;
    font-weight: inherit;
    cursor: pointer;
  }

  &__content {
    display: none;
    z-index: 500;
    position: absolute;
    top: 100%;
    left: -0.5rem;
    padding: 0.5rem;
    border-radius: 0.5rem;
    font-size: 1rem;
    box-shadow: 0 0 3px grey;
  }

  &__element {
    font-size: 1rem;
    margin-bottom: 0.3rem;

    &:last-child {
      margin-bottom: 0
    }
  }

  &__active{
    color: red;
  }

  &:hover {
    #{$parent}__content {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
    }
  }
}