.home {
  width: 100%;
  height: auto;
  min-height: 100%;

  &__title {

  }

  &__name {

  }

  &__section {

  }

  &__subtitle {
  }

  &__text {

  }

  &__resume {

  }

  &__button {

  }
}

.about {
  &__title {

  }

  &__photo {

  }

  &__text {

  }
}

.skills {

  &__title {
  }

  &__content {

  }
}
