.nowrap {
  white-space: nowrap;
}

.home {
  width: 100%;
  height: auto;
  min-height: 100%;

  &__title {

  }


  &__section {
    padding: 3rem 0;
  }

  &__subtitle {
  }

  &__text {
  }


}

.about {
  min-height: calc(100vh - 6.5rem);
  padding-top: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;

  &__description {
    margin-bottom: 3rem;
  }

  &__text {
    margin-bottom: 1rem;
    text-align: center;
  }

  &__name {
    display: inline-block;
    white-space: nowrap;
    font-weight: 700;
  }


  &__link {
    color: currentColor;
  }

  &__scroll {
    position: absolute;
    top: 100%;
    transform: translateY(-3rem);
    padding: 0 0 2rem 0.1rem;
    border-left: 1px solid currentColor;
    writing-mode: vertical-lr;
    text-orientation: upright;
    font-size: 0.45rem;
    letter-spacing: -0.2rem;
    font-weight: 700;
    opacity: 1;
    transition: opacity 0.2s;
  }
}

.title {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-end;
  justify-content: center;
  margin-bottom: 3rem;

  &__front {
    margin-right: 1rem;
    font-size: 6rem;
    font-weight: 400;
    text-align: center;
    color: currentColor;
  }

  &__dev {
    margin-left: auto;
    height: auto;
    font-size: 3rem;
    font-weight: 800;
    text-align: center;
  }
}

body:global(.light) {
  & .title {
    background: $gr-light-title;
    background-size: 200%;
    animation: bg_animation 5s infinite;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
}

body:global(.dark) {
  & .title {
    background: $gr-dark-title;
    background-size: 200%;
    animation: bg_animation 5s infinite ease-in;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
}

.skills {

  &__title {
  }

  &__content {

  }

  &__element {

  }

  &__subtitle {

  }

  &__description {

  }
}

.hidden {
  opacity: 0
}

@keyframes bg_animation {
  0% {
    background-position: 0;
  }
  100% {
    background-position: -200%;
  }
}