.contentLayout {
  padding-top: 3rem;
  padding-bottom: 3rem;
  height: 100%;
  overflow-x: hidden;
  overflow-y: auto;
}

.transition {
  & * {
    transition:
      color 0.1s,
      background-color 0.2s;
  }
}
