.element {
  border-radius: 0 2rem 2rem 0;
}

.picture {
  position: absolute;
  right: 2rem;
  bottom: 50%;
  transform: rotateZ(350deg);
  height: auto;
  max-height: 80%;
  width: auto;
  max-width: 80%;
  border-radius: 0.01rem;
  box-shadow: 0 0 0 0.1rem $c-gray-6, 0 0 0 0.2rem $c-gray-1;
  transition: transform 0.3s, bottom 0.3s;
  animation: animation-picture 0.3s;

  &:nth-child(1) {
    height: auto;
    max-height: 90%;
    width: auto;
    max-width: 90%;
    transform: rotateZ(355deg) translate(-1rem, 10rem);
  }

  &:nth-child(2) {
    transform: rotateZ(10deg) translate(-10rem, 12rem);
  }

  &:nth-child(3) {
    transform: rotateZ(30deg) translate(-10rem, 10rem);
  }

  &:nth-child(4) {
    transform: rotateZ(340deg) translate(-3rem, 4rem);
  }

  &:nth-child(5) {
    transform: rotateZ(320deg) translate(-3rem, 8rem);
  }

  &:nth-child(6) {
    transform: rotateZ(40deg) translate(-2rem, 11rem);
  }

  &:nth-child(7) {
    transform: rotateZ(330deg) translate(-3rem, 11rem);
  }

  &.animated {
    z-index: 7;
    transform: translate(0, 50%);
    transition: transform 0.5s, bottom 0.5s;
  }
}

@keyframes animation-picture {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}