.arrow {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  cursor: pointer;
  color: currentColor;
  background-color: transparent;
  opacity: 0.2;
  transition: opacity 0.2s;

  @include no-touch {
    &:hover {
      opacity: 0.9;
    }
  }

  & svg {
    width: 100%;
    max-width: 60px;
    height: 100%;
  }
}

._left {
  & svg {
    transform: rotateY(180deg);
  }
}

._right {
}
