.dots {
  width: 160px;
  max-width: 160px;
  overflow-x: hidden;
  color: currentColor;
}

.list {
  width: auto;
  display: flex;
  align-items: center;
  transition: transform 0.2s;
  color: currentColor;
}
