.element {
  animation: elementAnimation 3s linear;
  opacity: 0.7;
}

@keyframes elementAnimation {
  0% {
    opacity: 0;
    transform: scale(0)
  }
  5% {
    opacity: 0
  }
  10% {
    opacity: 0.7
  }
  70% {
    opacity: 0.7
  }
  100% {
    opacity: 0;
    transform: scale(1)
  }
}
