.element {
  $animationTime: 3s;

  position: absolute;
  top: 50%;
  left: 50%;
  animation: elementAnimation $animationTime linear;
  transition: transform $animationTime linear;
  opacity: 0;
}

@keyframes elementAnimation {
  0% {
    opacity: 0
  }
  5% {
    opacity: 0
  }
  10% {
    opacity: 1
  }
  70% {
    opacity: 1
  }
  100% {
    opacity: 0
  }
}
