$close-transform: translate(50%, -50%) scale(0);

.modal {
  z-index: 1000;
  position: absolute;
  top: 3.5rem;
  right: 0;
  border-radius: 0 0 0 3rem;
  padding: 2rem 8vw 2rem 2rem;
  overflow: hidden;
  display: flex;
  align-items: flex-start;
  justify-content: flex-end;

  &__content {
    width: auto;
    height: auto;
    border-radius: 3%;
    padding: 2rem 2rem;
  }
}

body:global(.light) .modal {
  background-color: $c-gray-6;

  &__content {
    background-color: $c-gray-7;
  }
}

body:global(.dark) .modal {
  background-color: $c-gray-1;

  &__content {
    background-color: $c-sea-1;
  }
}

.open {
  animation: open-animation 0.4s linear;
}

.close {
  transform: $close-transform;
  animation: close-animation 0.4s linear;
}

@keyframes open-animation {
  0% {
    transform: $close-transform;
    opacity: 0;
    color: transparent;
  }
  30% {
    color: transparent;
    opacity: 0;
  }
  100% {
    transform: none;
    color: currentColor;
  }
}

@keyframes close-animation {
  0% {
    transform: none;
    color: currentColor;
  }
  70% {
    color: transparent;
    opacity: 0;
  }
  100% {
    transform: $close-transform;
    opacity: 0;
    color: transparent;
  }
}
