.modal {
  z-index: 1000;
  position: absolute;
  top: 3.5rem;
  left: 0;
  right: 0;
  bottom: 0;
  padding-bottom: 3.5rem;
  overflow: hidden;
  display: flex;
  align-items: flex-start;
  justify-content: flex-end;

  &__content {
    width: auto;
    height: auto;
    border-radius: 3%;
    padding: 2rem 2rem;
  }
}

body:global(.light) .modal {
  background-color: $c-gray-6;

  &__content {
    background-color: $c-gray-7;
  }
}

body:global(.dark) .modal {
  background-color: $c-gray-1;

  &__content {
    background-color: $c-sea-1;
  }
}

.open {
  animation: open-animation 0.4s ease-in-out;

  .modal__content {
    animation: open-animation 0.4s ease-in-out;
  }
}

.close {
  transform: scale(0);
  animation: close-animation 0.4s ease-in-out;

  .modal__content {
    transform: scale(0);
    animation: close-animation 0.4s ease-in-out;
  }
}

@keyframes open-animation {
  0% {
    transform: scale(0);
    border-radius: 50%;
    color: transparent;
  }
  50% {
    border-radius: 50%;
  }
  100% {
    transform: scale(1);
    color: currentColor;
  }
}

@keyframes close-animation {
  0% {
    transform: scale(1);
    color: currentColor;
  }
  50% {
    border-radius: 50%;
  }
  100% {
    transform: scale(0);
    border-radius: 50%;
    color: transparent;
  }
}