.header {
  z-index: 1100;
  box-sizing: border-box;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 3.5rem;
}

.transition {
  transition: color 0.2s;

  & * {
    transition: color 0.2s;
  }
}

body:global(.light) .header {
  background-color: transparent;
  color: $c-sea-1;

  & * {
    color: $c-gray-4;
  }
}

body:global(.dark) .header {
  background: transparent;
  color: $c-gray-6;

  & * {
    color: $c-gray-6;
  }
}