.header {
  box-sizing: border-box;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 3.5rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 1.2rem;
  line-height: 1.2rem;

  &__list {

  }

  &__link {
    margin-right: 1rem;
  }

  &__activities {
    height: 100%;
    display: flex;
    align-items: center;
  }

  &__language {
    margin-right: 2rem;
  }
}

.headerLink {
  &__active {
    color: $c-orange-3;
  }
}

body:global(.light) .header {
  background-color: transparent;
  color: $c-sea-1;

  & * {
    color: $c-sea-1;
  }

  & .headerLink {
    &:hover {
      color: $c-green-yellow-1;
    }

    &__active {
      color: $c-green-yellow-1;
    }


  }
}

body:global(.dark) .header {
  background: transparent;
  color: $c-sea-6;

  & * {
    color: $c-sea-6;
  }

  & .headerLink {
    &:hover {
      color: $c-orange-4;
    }

    &:before {
      content: '';
      position: absolute;
      left: 0;
      right: 0;
      bottom: -0.5rem;
      background-color: transparent;
      height: 0.1px;
      border-radius: 50%;
      transform: rotateX(80deg);
    }


    &__active {
      position: relative;
      color: $c-orange-4;

      &:before {
        box-shadow: 0 0 1rem $c-orange-4, 0 0 0.1rem $c-orange-4, 0 0 2rem $c-orange-4,;
      }
    }
  }
}