.header {
  box-sizing: border-box;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 3.5rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 1.2rem;
  line-height: 1.2rem;

  &__list {
    box-sizing: border-box;
    height: 100%;
    display: flex;
    align-items: center;
  }

  &__link {
    margin-right: 1rem;
  }

  &__activities {
    height: 100%;
    display: flex;
    align-items: center;
  }

  &__language {
    margin-right: 2rem;
  }
}

.headerLink {
  position: relative;
  height: 100%;
  display: flex;
  align-items: center;

  &__active {
    color: $c-orange-3;

    &:before {
      content: '';
      position: absolute;
      left: 0;
      right: 0;
      bottom: 0.3rem;
    }
  }
}

body:global(.light) .header {
  background-color: transparent;
  color: $c-sea-1;

  & * {
    color: $c-gray-4;
  }

  & .headerLink {
    &:hover {
      color: $c-orange-1;
    }

    &__active {
      color: $c-orange-1;

      &:before {
        height: 2px;
        background-color: currentColor;
        opacity: 0.8;
      }
    }
  }
}

body:global(.dark) .header {
  background: transparent;
  color: $c-gray-6;

  & * {
    color: $c-gray-6;
  }

  & .headerLink {
    &:hover {
      color: $c-sea-6;
    }

    &__active {
      @extend .shadow;

      position: relative;
      color: $c-sea-6;
    }
  }
}