$burger-size: 1.2rem;
$animation-duration: 400ms;
$line-height: calc($burger-size / 5);

.burger {
  $parent: &;

  width: $burger-size;
  height: $burger-size;
  display: flex;
  align-items: center;
  justify-content: center;
  backface-visibility: hidden;

  &__element {
    position: relative;
    width: 100%;
    height: $line-height;
    background-color: currentColor;
    border-radius: calc($line-height / 2);
    transition: all $animation-duration ease;

    &:before, &:after {
      content: '';
      position: absolute;
      left: 0;
      right: 0;
      width: 100%;
      height: $line-height;
      border-radius: calc($line-height / 2);
      background-color: currentColor;
      transition: transform $animation-duration ease, top $animation-duration ease;
    }

    &:before {
      top: calc($line-height * -2);
    }

    &:after {
      top: calc($line-height * 2);
    }
  }

  &.active {
    & #{$parent}__element {
      transform: rotate(135deg);

      &:before,
      &:after {
        top: 0;
        transform: rotate(90deg);
      }

      &:after {
        opacity: 0;
      }
    }

    &:hover {
      & #{$parent}__element {
        transform: rotate(225deg);
      }
    }
  }
}
