$burger-size: 1.4rem;
$animation-duration: 400ms;
$line-height: calc($burger-size / 5);

.burger {
  $parent: &;

  width: $burger-size;
  height: $burger-size;
  display: flex;
  align-items: center;
  justify-content: center;
  backface-visibility: hidden;

  &__element {
    position: relative;
    width: 100%;
    height: $line-height;
    background-color: currentColor;
    border-radius: calc($line-height / 2);
    transition: all $animation-duration ease;

    &:before,
    &:after {
      content: "";
      position: absolute;
      left: 0;
      right: 0;
      top: 0;
      width: 100%;
      height: $line-height;
      border-radius: calc($line-height / 2);
      background-color: currentColor;
      transition:
        transform $animation-duration ease,
        top $animation-duration ease;
    }

    &:before {
      transform: translateY(calc($line-height * -2));
    }

    &:after {
      transform: translateY(calc($line-height * 2));
    }
  }

  &.active {
    & #{$parent}__element {
      transform: rotate(135deg);

      &:before,
      &:after {
        transform: rotate(90deg) translateY(0);
      }

      &:after {
        opacity: 0;
      }
    }

    @include no-touch {
      &:hover {
        & #{$parent}__element {
          transform: rotate(225deg);
        }
      }
    }
  }
}
