
// colors
$c-white: white;
$c-gray: gray;
$c-black: black;

// violet
$c-violet-1: #1C1930;
$c-violet-2: #2A253F;
$c-violet-3: #641894;
$c-violet-4: #742DBC;
$c-violet-5: #BC6DFF;

// orange
$c-orange-1: #BA3C15;
$c-orange-2: #FBA71C;
$c-orange-3: #F9C909;
$c-orange-4: #F9E501;

// green-yellow
$c-green-yellow-1: #185D35;
$c-green-yellow-2: #649009;
$c-green-yellow-3: #9CC50F;
$c-green-yellow-4: #C4E31E;
$c-green-yellow-5: #F0F949;

// sea
$c-sea-1: #172E4A;
$c-sea-2: #17445A;
$c-sea-3: #15606F;
$c-sea-4: #1D8D8A;
$c-sea-5: #3EE4C2;
$c-sea-6: #3DF6E0;

//pink
$c-pink1: #942941;
$c-pink2: #C82255;
$c-pink3: #F6198D;

// screen
$b-mobile: 320px;
$b-tablet: 768px;
$b-desktop: 1024px;
$b-fhd: 1920px;
