// colors
$c-white: white;
$c-black: black;

// Gray
$c-gray-1: #000C17;
$c-gray-2: #2B2B2B;
$c-gray-3: #373737;
$c-gray-4: #434343;
$c-gray-5: #848484;
$c-gray-6: #e0e0e0;
$c-gray-7: #F8F8FA;

// violet
$c-violet-1: #1C1930;
$c-violet-2: #2A253F;
$c-violet-3: #641894;
$c-violet-4: #742DBC;
$c-violet-5: #BC6DFF;

// orange
$c-orange-1: #BA3C15;
$c-orange-2: #FBA71C;
$c-orange-3: #F9C909;
$c-orange-4: #F9E501;

// green-yellow
$c-green-yellow-1: #185D35;
$c-green-yellow-2: #649009;
$c-green-yellow-3: #9CC50F;
$c-green-yellow-4: #C4E31E;
$c-green-yellow-5: #F0F949;

// green
$c-green-1: #0C635F;
$c-green-2: #03B3A1;

// sea
$c-sea-1: #172E4A;
$c-sea-2: #1B3544;
$c-sea-3: #17445A;
$c-sea-4: #15606F;
$c-sea-5: #1D8D8A;
$c-sea-6: #3EE4C2;
$c-sea-7: #3DF6E0;

//pink
$c-pink1: #942941;
$c-pink2: #C82255;
$c-pink3: #F6198D;

// gradient
$gr-dark-1: linear-gradient(to bottom, $c-gray-1 0%, $c-sea-1 1.8rem, $c-gray-1 3.5rem, $c-sea-1 50%, $c-gray-1 100%);
$gr-dark-2: linear-gradient(0deg, $c-violet-1 0%, $c-violet-3 100%);
$gr-dark-3: linear-gradient(180.81deg, #1F2122 0.69%, #162129 57.07%);

$gr-light-1: linear-gradient(to bottom, $c-gray-6 0%, $c-white 1.8rem, $c-gray-6 3.5rem, $c-gray-7 50%, $c-gray-6 100%);

// screen
$b-mobile: 320px;
$b-tablet: 768px;
$b-desktop: 1024px;
$b-fhd: 1920px;

.shadow {
  &:before {
    content: '';
    position: absolute;
    bottom: 0.3rem;
    left: -0.2rem;
    right: -0.2rem;
    height: 4px;
    border-radius: 50%;
    background-color: currentColor;
    transform: rotateX(50deg);
    opacity: 0.2;
    box-shadow: 0 0 1rem currentColor, 0 0 0.1rem currentColor, 0 0 2rem currentColor;

    animation: animation_shadow_width 0.2s;
  }
}

@keyframes animation_shadow_width {
  0% {
    opacity: 0;
    transform: scaleX(0.5) rotateX(50deg);
  }

  100% {
    opacity: 0.2;
    transform: scaleX(1) rotateX(50deg);
  }
}