@import './lib/_fluid-type.scss';

html {
  @include fluid-type(font-size, $b-tablet, $b-fhd, 14px, 20px);

  @media (min-width: 1920px) {
    font-size: calc((20 / 1920) * 100vw);
  }

  & * {
    transition: color 0.2s, background-color 0.2s;
  }
}

body {
  height: calc(100% - 3rem);
}

#root {
  height: 100%;
}

.container {
  padding-left: 8vw;
  padding-right: 8vw;
}
