@import './lib/_fluid-type.scss';

html {
  @include fluid-type(font-size, $b-tablet, $b-fhd, 14px, 20px);

  @media (min-width: 1920px) {
    font-size: calc((20 / 1920) * 100vw);
  }

  & * {
    transition: color 0.1s, background-color 0.2s, background 0.2s;
  }
}

body {
  height: 100%;
  padding-top: 3.5rem;
}

body.light {
  color: $c-gray-3;
}

body.dark {
  color: $c-gray-6;
}

#root {
  height: 100%;
}

.container {
  padding-left: 8vw;
  padding-right: 8vw;
}

.scroll {
  &::-webkit-scrollbar {
    width: 0.5rem;
  }

  &::-webkit-scrollbar-track {
    background: transparent;
  }

  &::-webkit-scrollbar-thumb {
    border-radius: 20px;
    border-width: 0.1rem;
    border-style: solid;
    width: 100%;
    background-color: transparent;
  }

  body.light &::-webkit-scrollbar-thumb {
    border-width: 0.15rem;
    border-color: $c-gray-5;
    background-color: $c-gray-6;
  }

  body.dark &::-webkit-scrollbar-thumb {
    border-color: $c-gray-5;
    border-width: 0.1rem;
  }
}


