@import './lib/_fluid-type.scss';

html {
  @include fluid-type(font-size, $b-tablet, $b-fhd, 14px, 20px);

  @media (min-width: 1920px) {
    font-size: calc((20 / 1920) * 100vw);
  }

  & * {
    transition: color 0.1s, background-color 0.2s, background 0.2s;
  }
}

body {
  height: calc(100% - 3.5rem);
}

body.light{
  color: $c-gray-3;
  background:  $gr-light-1;
}

body.dark{
  background: $gr-dark-1;
  color: $c-gray-6;
}

#root {
  height: 100%;
}

.container {
  padding-left: 8vw;
  padding-right: 8vw;
}
