.slider {
  @extend .scroll-hide;

  margin-left: -8vw;
  margin-right: -8vw;
  position: relative;
  width: calc(100% + 16vw);
  display: flex;
  align-items: stretch;
  flex-wrap: nowrap;
  overflow-x: auto;
}

.slide {
  width: 100%;
  min-width: calc(100% - 15%);

  @media (max-width: calc($b-tablet - 1px)) {
    &:first-child {
      margin-left: 0.5rem;
    }

    &:last-child {
      margin-right: 0.5rem;
    }
  }
}