.contacts {
  box-sizing: content-box;
  width: 100%;
  height: auto;
  min-height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  &__text {
    margin: 2rem;
    height: auto;
    min-height: content-box;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    @media (max-width: $b-mobile) {
      max-width: 100%;
      word-wrap: break-word;

      & * {
        max-width: 100%;
        text-align: center;
      }
    }
  }

  &__textElement {
    &:first-child {
      margin-bottom: 1rem;
    }
  }

  &__links {
    width: 100%;
    height: auto;
    min-height: content-box;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  &__list {
    width: auto;
    height: auto;
    max-width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }

  &__element {
    margin: 1rem 0.5rem;
    padding: 0.5rem 0.5rem 1rem;
    max-width: 100%;
    position: relative;

    & * {
      color: inherit;
      transition: transform 0.2s;
    }
  }

  &__link {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &__icon {
    margin-bottom: 1rem;
    width: 4rem;
    height: 4rem;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  &__desc {
    max-width: 100%;
    word-wrap: break-word;
    text-align: center;
  }
}

body:global(.light) .contacts {
  &__element {
    color: $c-gray-3;

    &:hover {
      @extend .shadow;

      color: $c-gray-5;

      .contacts__desc{
        color: $c-orange-1;
      }
    }
  }
}

body:global(.dark) .contacts {
  &__element {
    color: $c-gray-6;

    &:hover {
      @extend .shadow;

      color: $c-sea-7;
    }
  }
}
