.space {
  z-index: -70;
  position: absolute;
  top: -2rem;
  left: -5rem;
  bottom: 1rem;
  right: -5rem;
  overflow: hidden;
}

.element {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}