.background {
  z-index: -100;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  transition: color 0.1s, background-color 0.2s;

  & *{
    transition: color 0.1s, background-color 0.2s, background 0.2s;
  }
}

.gradient {
  z-index: -200;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

body:global(.dark) .gradient {
  background: $gr-dark-bg;
}

body:global(.light) .gradient {
  background: $gr-light-bg;
}
